 body {
    background-color:#FFFAFF;
    font-family: 'Courier New', Courier, monospace;
 }
 #container {
    display: flex;
    flex-direction: column;
}
.box {
    height: 25%;
    width: 25%;
    overflow: auto;
    border: 1px solid;
    margin-top: 20px;
}

#buttonContainer {
    border: 0px;
    display: flex;
    
     
}
button {
    width: 10vh;
    height: 10vh;
    margin: 1vh;
    border-radius: 12px;
}

#rock {
    background-color: rgb(110, 110, 89);
}
#paper {
    background-color: white;
}
#scissors {
    background-color: #C1C3C4;
}

.imageBox{
    display: flex;
    position: absolute;
    bottom: 0;
    align-self: center;
    justify-self: center;
}

.rps {
    display: none; 
}