 body {
    background-color:#FFFAFF;
 }
 #container {
    display: flex;
    flex-direction: column;
}
.box {
    height: 25%;
    width: 25%;
    overflow: auto;
    border: 1px solid;
    margin-top: 20px;
}

#buttonContainer {
    border: 0px;
     
}
button {
    width: 10vh;
    height: 2vh;
}

.imageBox{
    display: flex;
    position: absolute;
    bottom: 0;
    align-self: center;
    justify-self: center;
}

.rps {
    display: none; 
}