 body {
    background-color:#FFFAFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
 }
 #container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    height: 25%;
    width: 50%;
    overflow: auto;
    border: 1px solid;
    margin-top: 20px;
    border-radius: 12px;
}

#buttonContainer {
    border: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
}
button {
    width: 15vh;
    height: 15vh;
    margin: 2vh;
    border-radius: 12px;
    font-weight: 900;
    margin-top: 5vh;
    transition: all 0.1s; 
    overflow: hidden;
}

#rock {
    background-color: rgb(110, 110, 89);
}
#paper {
    background-color: white;
}
#scissors {
    background-color: #C1C3C4;
}

.imageBox{
    display: flex;
    position: absolute;
    bottom: 0;
    align-self: center;
    justify-self: center;
}

.rps {
    display: none;
    
}

button:active {
    transform: scale(1.1);
    border-color: navy;
    box-shadow: 0 0 10px navy;
}
span {
    display: block;
    margin: 10px 10px 10px 10px;
}
#scorebox, #scoreboxTwo {
    box-shadow: 2px 2px black;
}
